<header class="header">
    <div class="headContainer">
        <div class="empresa">
            <img src="../Assets/logo.png" alt="Logo de Comidasa" class="logo">
            <div>
                <h1>Comidasa</h1>
                <p>Comida caliente y fresca, rápido en tu mesa</p>
            </div>
        </div>

        <nav class="nav">
            <button type="button" data-ruta="/catalogo">Catálogo</button>
            <button type="button" data-ruta="/login">Ingresar</button>
            <button type="button" data-ruta="/producto">Producto</button>
        </nav>
    </div>
</header>