<section class="catalogoPage">
    <h2>Catálogo de productos</h2>

    <div class="productosGrid">
        <table>
            <thead>

            </thead>
            <tbody>

                <!--Esto debe de repetirse por la cantidad de platos en la base de datos-->
                <div id="tarjetaPlato" class="productoCard">
                    <img src="../Assets/plato.png" alt="Imagen del plato">
                    <h3>Plato especial</h3> <!--Nombre del plato-->
                    <p><strong>Precio:</strong> B/. 5.99</p> <!--Precio del plato-->
                    <button type="button" data-ruta="/producto">Ver detalles</button>

                </div>

            </tbody>
        </table>
    </div>
</section>