<section class="loginPage">
    <div class="login">
        <div class="loginFormContainer">
            <h2>Iniciar sesión</h2>

            <form id="loginForm" name="loginForm">
                <label for="username">Usuario:</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" required>

                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</section>