<section>
    <div>
        <button type="button" data-ruta="/catalogo">Regresar</button>

        <aside>
            <img src="../Assets/registro.png" alt="Imagen de registro">
            <h4>Bienvenido a esta aventura gastronomica</h4>
            <p>Crea tu usuario para mantener tu historial y gustos entre nuestras sucursales</p>
        </aside>
            
        <div>
            <form id="registroForm">
                <label for="nickname">Nickname:</label>
                <input type="text" id="nickname" name="nickname" required>

                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" required>

                <label for="contrasen">Contraseña:</label>
                <input type="password" id="contrasen" name="contrasen" required>
                <button type="button" id="toggleContrasen">Mostrar Contraseña</button>

                <label for="confirmarContrasen">Confirmar Contraseña:</label>
                <input type="password" id="confirmarContrasen" name="confirmarContrasen" required>
                <button type="button" id="toggleConfirmarContrasen">Mostrar Contraseña</button>

                <button type="submit">Registrarse</button>

            </form>
        </div>
    </div>
</section>